.form-search-concert{
    padding: 1.3rem;;
    text-align: center;
    width: 15vw;
}
.form-search-concert input{
    margin: 10% auto;
}
.form-search-concert label{
    margin: 10% auto;
}
.box{
    width: 11rem;
}