.card-host-place{
    width: 30vw;
    text-align: left;
    padding: 20px;  
    margin: 2% 4%;
}
.card-host-place h3{
    font-weight: 500;
}
.card-host-place h4{
    font-weight: 200;
}
.numbers-container{
    margin: 4%;
    display: flex;  
    justify-content: space-around;
    align-items: center;
}
.number{
    font-weight: bold;
}
.card-host-place button{
    background-image: linear-gradient(to right,#51f0ed,#a1cae4)!important;
    font-family: Montserrat!important;;   
}


.host-places-cards-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}