.card-host-place{
    text-align: left;
    padding: 20px;
    background-color: #fff;
    margin:15px;
    box-shadow: 10px 10px 50px grey;
    /* overflow: auto; */
}
.numbers-container{
 display: flex;
 align-items: center;
 justify-content: space-between;
 text-align: center;
 margin: 0px 30px;
 font-size: 0.9em;
}
.date-container{
    font-size:0.8em;
    margin:10px;
    width: 17rem;
}
.card-display{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.placename-display{
    text-align: center;
    margin-bottom: 0.25rem;
}
.address-display{
    text-align: center;
    margin-top: 0.25rem;
}
.grey-titles{
    color: rgb(151, 151, 151);
    font-weight: 600;
}
.number{
    font-weight: bold;
}
.card-host-place button{
    background-color: #95efed;
    /* background-image: linear-gradient(to right,#51f0ed,#a1cae4)!important; */ 
}
.top-card{
    display: flex;
    flex-direction: row;
}
.carousel > div {
    /* width: 130vw; */
    /* left: 10vw; */
}
.times{
    display: flex;
}
.address{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgb(151, 151, 151);
    font-weight: bold;
}
.location-icon{
    color: black;
}
.arrow-icon{
    color: black;
    margin: 5px;

}
.arrows{
    border: none;
    font-size: 30px;
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: transparent;
}

.host-places-cards-container{
/* display: flex;
flex-direction: row; */
    /* justify-content:space-around; */
    /* align-items: center; */ 
}