.nav-bar-guay a{
    text-decoration: none!important;
    text-align: center;
}
.nav-bar-guay span{
    font-family: Montserrat!important;
    font-weight: 500;
    letter-spacing: 4px;
}
.nav-title{
    font-family: Montserrat!important;
    font-weight: 800!important;
    letter-spacing: 7px!important;
    font-size: 20px;
}

.nav-bar-guay{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  background-image: linear-gradient(to right,#95efed,#a1cae4,#d4a0c8,#9b5b83);
  color: rgb(0, 0, 0);
}



