.concert-card{
    text-align: left !important;
    padding-bottom: 10px !important;
    margin: 20px !important;
    box-shadow: 10px 10px 50px grey !important;
    overflow: auto !important;
    width: 340px !important;

}
.padding-for-body{
    padding: 0 20px;
}
.musician-photo{
    padding: 0;
    margin: 0;
    height: 290px;
    width: 21.25rem !important;

}
.musician-info-concert{
    width: 68%;
    display: flex;
    flex-direction: column;
    height: 8rem;
    justify-content: center;
}
hr{
    color: black;
    font-weight: 900;
}

.middle-info{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.grey-titles{
    color: rgb(151, 151, 151);
}
.icons{
    font-size: 22px;
    margin: 5px 0;
    color: black;
    margin-top: 6px;
}
.numbers-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 0px 30px;
    font-size: 0.9em;
}

.date-container{
       font-size:0.8em;
       margin:10px;
}
   
.number{
       font-weight: bold;
}
.time-and-date-info{
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.time-and-date{
    margin: 0;
}

.footer{
    height: 12vh;
    background-image: linear-gradient(to right,#95efed,#a1cae4,#d4a0c8,#9b5b83);
}